.card {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 5px 5px 5px grey;
  margin: 10px;
  max-width: 350px;
  text-align: center;
  display: inline-block;
}

.card .card-image {
  margin-top: 20px;
  max-width: 60%;
  /* border-radius: 10px 10px 0px 0px; */
  border-radius: 70%;
}

.card .card-title {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
  color: brown;
}

.counter-container {
  text-align: center;
  font-family: Arial, Helvetica, sans-serifserif;

}

.counter-display {
  font-size: 8em;
}

.counter-button {
  width: 150px;
  height: 50px;
  font-size: 1.5em;
  font-weight: bold;
  background-color: blue;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin: 20px;
}

.counter-button:hover {
  background-color: rgba(29, 63, 213, 0.945);
}

.color-picker-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color-display {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid gray;
  border-radius: 20px solid;
  margin-bottom: 20px;
  transition: 0.25s ease;
}

.color-display p {
  color: brown;
  font-size: 2rem;
  text-align: center;
}

label {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

input[type="color"] {
  width: 75px;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
  border: 3px solid;
  color: grey;

}
.to-do-list{
  margin-top: 10px;
  text-align: center;
  background-color: rgb(40, 38, 38);
}
button{
  size: 1.7rem;
  font-weight: bold;
  padding:20px;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.5s ease;
}
.add-button{
  background-color: hsl(120, 45%, 38%);
}
.add-button:hover{
  background-color: hsl(120, 45%, 28%) ;
}
.delete-button{
  background-color: hsl(13, 52%, 44%);
}
.delete-button:hover{ 
  background-color: hsl(12, 89%, 46%) ;
}
.move-button{
  background-color: hsl(55, 76%, 46%);
}
.move-button:hover{ 
  background-color: hsl(42, 89%, 46%) ;
}

input[type="text"] {
  width: 275px;
  height: 30px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
  border-radius: 10px;
  color: grey;

}

ol{
  padding: 0;
}
li{
  font-weight: bold;
  padding: 15px;
  background-color: bisque;
  border: 1px solid;
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
text{
  flex: 1;
}

.move-button, .delete-button{
  padding: 8px 12px;
  font-size:1.4rem ;
  margin-left: 10px;
}